---
---

@import "{{ site.theme }}";

th,
td {
  vertical-align: middle;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
}

th:first-child {
  left: 0;
  z-index: 1;
}

td:first-child {
  position: sticky;
  left: 0;
  background: #232323;
  color: #fdfefb;
}

table {
  position: relative;
}

th code {
  color: white;
}

body {
  padding-left: 50px;
}

hr {
  margin: 0;
}

header {
  position: unset;
  float: unset;
  width: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
}

.wrapper {
  width: unset;
}

section {
  float: unset;
  width: unset;
}
